:root {
	--primary-color: rgb(1, 86, 119);
	--ternary-color: rgb(189, 227, 216);
	--secondary-color: rgba(1, 86, 119, .75);
	--bg-blue: rgb(204, 227, 245);
	--bg-green: rgb(189, 227, 216);
	--bg-purple: rgb(212, 212, 238);
	--bg-pink: rgb(252, 220, 225);
}

@font-face {
	font-family: "logo-primary";
	src: url("../fonts/test/PornFashionTrial-M3Vx.ttf") format('truetype');
}

@font-face {
	font-family: "logo-secondary";
	src: url("../fonts/test/Needlework\ US.ttf") format('truetype');
}

.bg-blue {
	background-color: var(--bg-blue);
}

.bg-green {
	background-color: var(--bg-green);
}

.bg-purple {
	background-color: var(--bg-purple);
}

.bg-pink {
	background-color: var(--bg-pink);
}

/*header */
header.fixed-top {
	border-bottom: 10px solid rgb(241, 241, 241);
}

main {
	background-color: rgb(241, 241, 241);
	/* padding-top: 88px; */
}

.header__logo {
	/*override*/
	padding: 0px;
}

.logo-primary {
	font-family: 'logo-primary';
	font-size: 56px;
	color: var(--primary-color);
}

.logo-secondary {
	font-family: 'logo-secondary';
	font-size: 56px;
	color: var(--primary-color);
}

#preloder-in {
	position: fixed;
	width: 100%;
	height: calc(100% - 88px);
	top: 88px;
	left: 0;
	z-index: 999999;
	background: #ffffff;
}

.loader-in {
	width: 40px;
	height: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -13px;
	margin-left: -13px;
	border-radius: 60px;
	-webkit-animation: loader 0.8s linear infinite;
	animation: loader 0.8s linear infinite;

}

.header__menu {
	/*override*/
	margin-left: 50px;
	padding: 30px 0 25px;
}

.header__menu ul li a:after,
.header__menu ul li span:after {
	/*override*/
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 2px;
	/* background: #ca1515; */
	content: "";

	-webkit-transition: all, 0.5s;
	-o-transition: all, 0.5s;
	transition: all, 0.5s;
	-webkit-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);

	background: var(--primary-color);
}

.header__menu ul li.active span:after {
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}

.header__menu ul li:hover span:after {
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}

.header__menu ul li:hover .dropdown {
	top: 26px;
	opacity: 1;
	visibility: visible;
}

.header__right ul li.user:hover .dropdown {
	top: 10px;
	left: 34px;
	opacity: 1;
	visibility: visible;
}

.header__right ul li.sign:hover .dropdown {
	top: 22px;
	left: -22px;
	opacity: 1;
	visibility: visible;
}

.header__right ul li.cart:hover .dropdown {
	top: 22px;
	left: -74px;
	opacity: 1;
	visibility: visible;
}

/* cart
sign
user */

.header__menu ul li .dropdown,
/* .slicknav_nav ul li .dropdown, */
.header__right ul li .dropdown {
	/*override*/
	position: absolute;
	left: 0;
	top: 56px;
	text-align: center;
	background: var(--primary-color);
	padding: 0;
	width: 200px;
	/* padding: 2px 0; */
	z-index: 9;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all, 0.3s;
	-o-transition: all, 0.3s;
	transition: all, 0.3s;
}

.header__right ul li.user .dropdown {
	top: 40px;
	left: 34px;
	width: 160px;
}

.header__right ul li.sign .dropdown {
	top: 40px;
	left: -22px;
	width: 160px;
}

.header__right ul li.cart .dropdown {
	top: 40px;
	left: -74px;
	width: 160px;
}

.slicknav_nav ul li .dropdown {
	text-align: center;
	background: var(--primary-color);
	padding: 0;
	width: 200px;
}

.header__menu ul li .dropdown li a,
.header__right ul li .dropdown li a {
	/*override*/
	font-size: 15px;
	color: white;
	padding: 8px 20px;
	text-transform: uppercase;

}


.header__right ul li .dropdown li {
	/* margin: 0;
	width: 200px; */
	display: block;
	margin: 0;
}

/* .header__right ul li .dropdown li a:after {
	display: none;
} */

.header__menu ul li .dropdown li:hover,
.header__menu ul li .dropdown li.active,
.header__right ul li .dropdown li:hover,
.header__right ul li .dropdown li.active,
.slicknav_nav ul li .dropdown li:hover,
.slicknav_nav ul li .dropdown li.active {
	/*override*/
	background: var(--ternary-color);

}

.header__menu ul li .dropdown li:hover a,
.header__menu ul li .dropdown li.active a,
.header__right ul li .dropdown li:hover a,
.header__right ul li .dropdown li.active a,
.slicknav_nav ul li .dropdown li:hover a,
.slicknav_nav ul li .dropdown li.active a {
	/*override*/
	font-weight: bold;
	color: var(--primary-color);
}

.header__menu ul li a,
.header__menu ul li span {
	/*override*/
	font-size: 16px;
	text-transform: uppercase;
	color: #111111;
	font-weight: 500;
	display: block;
	padding: 2px 0;
	position: relative;
}


.header__right {
	/*override*/
	/* text-align: center; */
	padding: 26px 0 20px;
}

.header__right li,
.offcanvas__widget li {
	list-style: none;
	display: inline-block;
	font-size: 24px;
	margin-right: 20px;
	margin-left: 10px;
}

.fa {
	font-size: 24px;
}

.header__right li .fa-shopping-bag,
.offcanvas__widget li .fa-shopping-bag {
	font-size: 18px;
}


.header__right li a,
.offcanvas__widget li a {
	color: var(--primary-color);
	position: relative;
}

.header__right li.active a,
.offcanvas__widget li.active a,
.header__right li:hover a,
.offcanvas__widget li:hover a {
	color: var(--secondary-color);
}

.header__right li a .tip,
.offcanvas__widget li a .tip {
	position: absolute;
	right: -12px;
	top: -6px;
	height: 18px;
	width: 18px;
	background: var(--primary-color);
	font-size: 10px;
	font-weight: 500;
	color: #ffffff;
	line-height: 18px;
	text-align: center;
	border-radius: 50%;
}

.header__right li.active a .tip,
.offcanvas__widget li.active a .tip,
.header__right li:hover a .tip,
.offcanvas__widget li:hover a .tip {
	background: var(--secondary-color);
}

@media only screen and (max-width: 992px) {
	.canvas__open {
		display: block;
		font-size: 22px;
		color: var(--primary-color);
		height: 35px;
		width: 35px;
		line-height: 35px;
		text-align: center;
		border: 1px solid var(--primary-color);
		border-radius: 3px;
		cursor: pointer;
		position: absolute;
		right: 35px;
		top: 24px;
	}

	.offcanvas-menu-wrapper {
		position: fixed;
		left: -270px;
		width: 270px;
		height: 100%;
		background: #ffffff;
		padding: 0px 10px;
		display: block;
		z-index: 99;
		overflow-y: auto;
		-webkit-transition: all, 0.5s;
		-o-transition: all, 0.5s;
		transition: all, 0.5s;
		opacity: 0;
	}

	.offcanvas-menu-wrapper.active {
		opacity: 1;
		left: 0;
	}

	.offcanvas__logo {
		margin-bottom: 5px;
	}

	.slicknav_nav ul li {
		font-size: 16px;
		text-transform: uppercase;
	}

	.slicknav_nav ul li .dropdown a {
		color: white;
	}
}

/* Accueil */

/* .categories__item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items:center;
} */

.categories__item.categories__large__item {

	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;

	-webkit-box-pack: space-evenly;
	-ms-flex-pack: space-evenly;
	justify-content: space-evenly;

	cursor: pointer;
	height: 638px;
	padding: 20px 50px;
}

.categories__item {

	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;

	-webkit-box-pack: space-evenly;
	-ms-flex-pack: space-evenly;
	justify-content: space-evenly;

	cursor: pointer;
	padding: 20px 30px;
}

.categories__text a:after {
	position: absolute;
	left: 0;
	bottom: 10px;
	height: 2px;
	width: 100%;
	content: "";
	background: var(--primary-color);
	-webkit-transition: all, 0.5s;
	-o-transition: all, 0.5s;
	transition: all, 0.5s;
	-webkit-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);

}

.categories__item:hover a:after {
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}

.categories__item:hover img {
	opacity: 1;
}

.categories__item img {
	-webkit-transition: opacity, 0.5s;
	-o-transition: opacity, 0.5s;
	transition: opacity, 0.5s;
	opacity: .75;
}

.carousel-item {
	overflow: hidden;
	height: 500px;
}

.carousel-item img {
	position: absolute;
	top: 50%;
	right: 50%;
	-webkit-transform: translate(50%, -50%);
	-ms-transform: translate(50%, -50%);
	transform: translate(50%, -50%);
	/* height: 100%; */
	/* width: 100%; */
	/* min-height: 500px; */
	/* max-height: 500px; */

}

.carousel-inner>.carousel-item {
	-webkit-transition: -webkit-transform 1.2s ease-in-out !important;
	transition: -webkit-transform 1.2s ease-in-out !important;
	-o-transition: transform 1.2s ease-in-out !important;
	transition: transform 1.2s ease-in-out !important;
	transition: transform 1.2s ease-in-out, -webkit-transform 1.2s ease-in-out !important;
}

.categories__text h4 {
	font-family: "Cookie", cursive;
	font-size: 38px;
}

.categories-img {
	/*display: block;
	*/
	overflow: hidden;
	height: 214px;

}

.categories-img img {
	/*position: absolute;
	top: 50%;
	right: 50%;
	transform: translate(50%, -50%);
	min-height: 214px;
	*/
	transform: translate(0%, -33%);
	-webkit-transform: translate(0%, -33%);
	-moz-transform: translate(0%, -33%);
	-ms-transform: translate(0%, -33%);
	-o-transform: translate(0%, -33%);
}

@media only screen and (min-width: 992px) {
	.categories-img img.for-lg {
		transform: translateY(-25%);
		-webkit-transform: translateY(-25%);
		-moz-transform: translateY(-25%);
		-ms-transform: translateY(-25%);
		-o-transform: translateY(-25%);
	}
}


.categories__text p {
	font-size: 15px;
	margin-top: -10px;
}

/* contact */
.site-btn {

	background: var(--primary-color);
	border: 3px solid var(--primary-color);
}

.site-btn:hover,
.site-btn:active {
	color: var(--primary-color);
	font-weight: bolder;
	background: var(--ternary-color);
	/* border-color: var(--primary-color); */
	border: 3px solid var(--primary-color);
}

.contact__address ul li h6 i {
	color: var(--primary-color);
	background-color: var(--ternary-color);
	padding: 5px;
	border: 2px solid var(--primary-color);
	width: 28px;
	text-align: center;
	font-weight: bold;
	border-radius: 50%;
	/* -webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%; */
}

.contact__address ul li a {
	color: #111111;
	/* text-transform: uppercase; */

}

.contact__address ul li a:after {
	position: absolute;
	left: 0;
	bottom: 0;
	height: 2px;
	width: 100%;
	background: var(--primary-color);
	content: "";
	-webkit-transition: all, 0.5s;
	-o-transition: all, 0.5s;
	transition: all, 0.5s;
	-webkit-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
}

.contact__address ul li:hover a:after {
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}

.contact__address ul li:hover a {
	color: var(--primary-color);
	font-weight: bold;
}

.modal-title {
	color: white;
	font-weight: bold;
}

@media only screen and (max-width: 992px) {
	iframe {
		height: 500px;
	}

	.contact__map{
		height: 500px;
	}
}