<!-- Categories Section Begin -->
<section class="categories">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-lg-8 p-0">
                <div class="categories__item categories__large__item bg-green spa-link" href="#whois">
                    <div class="categories__text">
                        <a href="#whois" class="spa-link">
                            <h4>Dernières Créations</h4>
                        </a>
                        <p class="">Visitez la galerie photos pour voir mes dernières créations</p>
                        <!-- <a href="#whois" class="spa-link">
                        <i class="fa fa-location-arrow"> ici</i> 
                    </a> -->
                    </div>
                    <div id="myCarousel" class="carousel slide d-block" data-ride="carousel" data-interval="3000">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                            <li data-target="#myCarousel" data-slide-to="1"></li>
                            <li data-target="#myCarousel" data-slide-to="2"></li>
                            <li data-target="#myCarousel" data-slide-to="3"></li>
                        </ol>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            

                            <div class="carousel-item">
                                <img src="app/img/BBGJJH.jpg" alt="Chicago">
                            </div>
                            <div class="carousel-item">
                                <img src="app/img/BBJXgn.jpg" alt="New York">
                            </div>
                            <div class="carousel-item">
                                <img src="app/img/BBLNCq.jpg" alt="" class="">
                            </div>
                            <div class="carousel-item active">
                                <img src="app/img/BBKMBo.jpg" alt="Los Angeles">
                            </div>
                        </div>

                        <!-- Left and right controls -->
                        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#myCarousel" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                    
                </div>
            </div>

            <div class="col-lg-4 d-none d-lg-block">
                <div class="row">
                    <div class="col-lg-12 p-0">
                        <div class="categories__item bg-blue spa-link" href="#category&id=1">
                            <div class="categories__text">
                                <a href="#category&id=1" class="spa-link">
                                    <h4>Les Doudous</h4>
                                </a>
                                
                                <p class="">Le compagnion indispensable</p>
                                <!-- <a href="#">Shop now</a> -->
                            </div>
                            <div class="categories-img">
                                <img src="app/img/BBGJJH.jpg" alt="" class="">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 p-0">
                        <div class="categories__item bg-pink spa-link" href="#category&id=2">
                            <div class="categories__text">
                                <a href="#category&id=2" class="spa-link">
                                    <h4>Les Couvertures</h4>
                                </a>
                                
                                <p class="">Bien au chaud, bébé dort.</p>
                                <!-- <a href="#">Shop now</a> -->
                            </div>
                            <div class="categories-img">
                                <img src="app/img/BBJXgn.jpg" alt="" class="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- </div> -->
            <!-- <div class="col-12 col-lg-4"> -->
            <!-- <div class="row"> -->
            <div class="col-12 col-sm-6 d-lg-none p-0">
                <div class="categories__item bg-pink spa-link" href="#category&id=1">
                    
                        <div class="categories__text">
                            <a href="#category&id=1" class="spa-link">
                                <h4>Les Doudous</h4>
                            </a>
                            
                            <p class="">Le compagnion indispensable</p>
                            <!-- <a href="#">Shop now</a> -->
                        </div>
                        <div class="categories-img">
                            <img src="app/img/BBGJJH.jpg" alt="" class="">
                        </div>
                    
                </div>
            </div>
            <div class="col-12 col-sm-6 d-lg-none p-0">
                <div class="categories__item bg-blue spa-link" href="#category&id=2">
                    <div class="categories__text">
                        <a href="#category&id=2" class="spa-link">
                            <h4>Les Couvertures</h4>
                        </a>
                        
                        <p class="">Bien au chaud, bébé dort.</p>
                        <!-- <a href="#">Shop now</a> -->
                    </div>
                    <div class="categories-img">
                        <img src="app/img/BBJXgn.jpg" alt="" class="">
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3 p-0">
                <div class="categories__item bg-purple spa-link" href="#category&id=3">
                    <div class="categories__text">
                        <a href="#category&id=3" class="spa-link">
                            <h4>Nids d'ange</h4>
                        </a>
                        
                        <p class=""></p>
                        <!-- <a href="#">Shop now</a> -->
                    </div>
                    <div class="categories-img">
                        <img src="app/img/BBLNCq.jpg" alt="" class="for-lg">
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3 p-0">
                <div class="categories__item bg-pink spa-link" href="#category&id=4">
                    <div class="categories__text">
                        <a href="#category&id=4" class="spa-link">
                            <h4>Sacs et Trousses</h4>
                        </a>
                        
                        <p class=""></p>
                        <!-- <a href="#">Shop now</a> -->
                    </div>
                    <div class="categories-img">
                        <img src="app/img/BBKMBo.jpg" alt="" class="for-lg">
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3 p-0">
                <div class="categories__item bg-blue spa-link" href="#category&id=5">
                    <div class="categories__text">
                        <a href="#category&id=5" class="spa-link">
                            <h4>Protèges Carnet</h4>
                        </a>
                        
                        <p class=""></p>
                        <!-- <a href="#">Shop now</a> -->
                    </div>
                    <div class="categories-img">
                        <img src="app/img/BBIcl9.jpg" alt="" class="for-lg">
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3 p-0">
                <div class="categories__item bg-purple spa-link" href="#category&id=6">
                    <div class="categories__text">
                        <a href="#category&id=6" class="spa-link">
                            <h4>Attaches tétine</h4>
                        </a>
                        
                        <p class=""></p>
                        <!-- <a href="#">Shop now</a> -->
                    </div>
                    <div class="categories-img">
                        <img src="app/img/BBHmyj.jpg" alt="" class="for-lg">
                    </div>
                </div>
            </div>
            <!-- </div> -->
            <!-- </div> -->
        </div>
    </div>
    <!-- </div> -->
</section>
<!-- Categories Section End -->